# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# Ignorar a pasta node_modules em qualquer lugar do projeto
node_modules/
*.local
.env

# Ignorar logs e arquivos temporários (opcional, mas recomendado)
npm-debug.log
.DS_Store
*.envfunctions/serviceAccountKey.json
functions/serviceAccountKey.json
functions/serviceAccountKey.json
functions/serviceAccountKey.json
functions/serviceAccountKey.json
functions/serviceAccountKey.json
setup_banco/serviceAccountKey.json
setup_banco/chave-firebase.json
lib/firebase_options.dart
functions/certs/